* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff;
    gap: 2rem;
    overflow-x: hidden;
    line-height: 1.5;
}

img {
    border-radius: 1rem;
    border-style: solid;
    object-fit: cover;
    border-color: rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 1.2rem;
}

.nav {
    width: 100vw;
    font-family: monospace;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    background-color: #8989c480;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
    width: 81vw;
}

.pages {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

a {
    padding: 0.5rem;
}

div a:hover {
    background-color: rgb(128, 128, 128, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

#banner {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner img {
    object-position: 50% 25%;
    height: 300px;
    width: 80vw;
}

#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

#quote p {
    width: 50%;
    font-style: italic;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 0 1rem 0;
    width: 80vw;
}

.content div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}

div.header-para {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-inline-size: 66ch;
    gap: 1rem;
}

.content div img {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.input select, button {
    height: 1.5rem;
    border-radius: 0.3rem;
}

.input button {
    padding: 0 0.2rem 0 0.2rem;
}

table {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-collapse: collapse;
    width: 80vw;
    margin: 0 0 1rem 0;
}

th,
td {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem 0.5rem 1rem;
    max-inline-size: 30ch;
    vertical-align: text-top;
}

td img {
    height: 10rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

td > ul > li {
    margin: 0 0 0 1rem;
    padding: 0;
}